<div class="container">
    <div class="row my-4">
        <div class="col-12">
            <div class="card mb-3" style="max-width: 100%;">
                <div class="row ml-3">
                    <h1 class="mx-2">{{detalle.titulo}}</h1><h2 class="mt-1">({{detalle.fecha}})</h2>
                    
                </div>
                <hr>
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="{{detalle.img}}" class="card-img" alt="...">
                    <button [routerLink]="['/ropas']" type="button" class="btn btn-danger my-2 btn-block">Regresar a Galeria</button>
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title"><b>{{detalle.titulo}}</b></h5>
                      <hr>
                      <p class="card-text">{{detalle.descripcion}}</p>
                      <p class="card-text"><small class="text-muted">{{detalle.fecha}}</small></p>
                      <img src="{{detalle.logo}}" class="card-img" style="width: 20rem;" alt="...">
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>
